@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>
<table class="table table-borderless">
    <th># </th>
    <th>Toplantı Türü </th>
    <th>Toplantı Açıklaması </th>
    <th>Toplantı Tarihi </th>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationType</td>
            <td>@item.NotificationDetails</td>
            <td>@item.NotificationDate.ToShortDateString()</td>
        </tr>
    }

</table>
